In [1]:
import pandas as pd

In [9]:
columns = ["V" + str(x) for x in range(1, 153)]

files = ["shr/shr_2015/shr_2015.xlsx", "shr/shr_2014/shr_2014.xlsx", "shr/shr_2013/shr_2013.xlsx", "shr/shr_2012/shr_2012.xlsx", "shr/shr_2011/shr_2011.xlsx", "shr/shr_2010/shr_2010.xlsx", "shr/shr_2009/shr_2009.xlsx", "shr/shr_2008/shr_2008.xlsx", "shr/shr_2007/shr_2007.xlsx", "shr/shr_2006/shr_2006.xlsx"]

df = pd.DataFrame()
for f in files:
    print(f)
    df_part = pd.read_excel(f)
    df_part.columns = columns
    df = df.append(df_part, ignore_index=True)

# 1 -> 152
# vampire weekend
# panic at the disco
# I write sins not tragedies

shr/shr_2015/shr_2015.xlsx
shr/shr_2014/shr_2014.xlsx
shr/shr_2013/shr_2013.xlsx
shr/shr_2012/shr_2012.xlsx
shr/shr_2011/shr_2011.xlsx
shr/shr_2010/shr_2010.xlsx
shr/shr_2009/shr_2009.xlsx
shr/shr_2008/shr_2008.xlsx
shr/shr_2007/shr_2007.xlsx
shr/shr_2006/shr_2006.xlsx

In [10]:
print(list(df.columns))
df.head()

['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152']

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V143,V144,V145,V146,V147,V148,V149,V150,V151,V152
0,6,1,AL00112,3,6,2015,85163,37,98,0,...,,,,,,,,,,
1,6,1,AL00112,3,6,2015,85163,37,98,0,...,,,,,,,,,,
2,6,1,AL00112,3,6,2015,85163,37,98,0,...,,,,,,,,,,
3,6,2,AZ00189,7,8,2015,0,,,0,...,,,,,,,,,,
4,6,2,AZ00189,7,8,2015,0,,,0,...,,,,,,,,,,

In [11]:
death_eligible_circumstances = { 3, 5, 2, 9, 46, 49, 48 }
circumstance_columns = ["V29","V79","V87","V95","V103","V111","V119","V127","V135","V143","V151"]
age_columns = ["V19", "V33", "V37", "V41", "V45", "V49", "V53", "V57", "V61", "V65", "V69"]
offender_age_columns = ["V23","V73","V81","V89","V97","V105","V113","V121","V129","V137","V145"]


def label_unique(row):
    return '' + row['V3'] + '-' + str(row['V17'])

def label_death_eligible(row):    
    num_18 = count_under_18(row)
    
    if not check_offender_age(row): #stops if all perps are less than 18
        return 0
    
    if row['V31'] > 0 or check_age(row): #multiple victims or very young victim
        return 1 + row['V32'] - num_18
    return check_circumstance(row) #based on circumstance of each perp

def check_circumstance(row):
    count = 0
    for column in circumstance_columns:
        if (circumstance_help(row[column])):
            count += 1
    return count

def circumstance_help(val):
    return val in death_eligible_circumstances

def check_age(row):
    for column in age_columns:
        if (age_help(row[column])):
            return True
    return False

def age_help(val):
    return val != ' ' and (val == 'BB' or val == 'NB' or (val <= 6 and val != 0))

def check_offender_age(row):
    for off_age in offender_age_columns:
        if offender_age_help(row[off_age]):
            return True;
    return False;
    
def offender_age_help(val):
    return val != ' ' and type(val) == int and (val == 0 or val >= 16)

def count_under_18(row):
    count = 0
    for col in offender_age_columns:
        val = row[col]
        if val != ' ' and type(val) == int and (val != 0 and val < 18):
            count += 1
    return count

In [12]:
df['death_eligible_count'] = df.apply(label_death_eligible, axis=1)

In [13]:
df['death_eligible_count'].value_counts()

0     115789
1      15637
2       3227
3       1067
4        481
5        114
6         59
7         20
8         17
9          4
10         3
11         1
Name: death_eligible_count, dtype: int64

In [14]:
df.to_csv("shr_death_eligible.csv")

In [ ]:
df['V6'].